@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*Color*/
  --color-primary: #00d991;
  --color-dark: #171923;

  /*Fonts*/
  --font-sora: "Sora", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}
